[submodule "FusionFilter"]
	path = FusionFilter
	url = https://github.com/FusionFilter/FusionFilter.git
[submodule "FusionInspector.wiki"]
	path = FusionInspector.wiki
	url = https://github.com/FusionInspector/FusionInspector.wiki.git
[submodule "FusionAnnotator"]
	path = FusionAnnotator
	url = https://github.com/FusionAnnotator/FusionAnnotator.git
[submodule "util/igv.js-reports"]
	path = util/igv.js-reports
	url = https://github.com/igvteam/igv.js-reports.git
